{% extends 'base.html.twig' %}

{% block body_id %}home{% endblock %}
{% block body %}


<div class="sheet welcome">
    <div class="wrapper-copy">
        <h1>What do women want?</h1>
        <h2>Un allenamento rapido ed efficace!</h2>
        <p><strong>Solo 20 minuti al giorno</strong>, ed <u>otterai il corpo che hai sempre sognato!</u></p>
    </div>
    <img src="{{ asset('images/magi/pic1.webp') }}">
</div>

<div class="sheet">
    <div class="wrapper-copy">
        <h1>Due programmi, per essere alla portata di tutti</h1>
        <h2>Fit</h2>
        <p>Pensato per chi è alle prime armi. Semplice e funzionale.</p>
        <h2>Super Fit</h2>
        <p>Pensato per chi è gia in forma e vuole raggiungere il suo massimo potenziale.</p>
    </div>
    <img src="{{ asset('images/magi/pic2.webp') }}">
</div>

{% endblock %}