{% extends 'base.html.twig' %}

{% block body_id %}home{% endblock %}
{% block body %}


<div class="sheet welcome">
    <div>
        <h1>What do women want?</h1>
        <h2>Un allenamento <u>rapido ed efficace!</u></h2>
        <strong>Solo 20 minuti al giorno</strong>, ed otterai il corpo che hai sempre sognato!
    </div>
    <img src="{{ asset('images/magi/pic1.webp') }}">
</div>

<div class="sheet">
    
</div>

{% endblock %}