{% extends 'base.html.twig' %}

{% block body_id %}home{% endblock %}
{% block body %}


<div class="sheet welcome">
    <div class="wrapper-copy">
        <h1>What do women want?</h1>
        <h2>Un allenamento rapido ed efficace!</h2>
        <p><strong>Solo 20 minuti al giorno</strong>, ed <u>otterai il corpo che hai sempre sognato!</u></p>
    </div>
    <img src="{{ asset('images/magi/pic1.webp') }}">
</div>

<div class="sheet">
    <div class="wrapper-copy">
        <h1>Scegli il programma che fa per te</h1>
        <div class="wrapper-grid">
            <h2>Fit</h2>
            <p>Per chi è alle prime armi. Semplice e funzionale.</p>

            <h2>Super Fit</h2>
            <p>Per chi è gia in forma e vuole raggiungere il suo massimo potenziale.</p>
        </div>
    </div>
    <img src="{{ asset('images/magi/pic2.webp') }}">
</div>

<div class="sheet">
    <div class="wrapper-copy">
        <h1>Perché è diverso dai soliti allenamenti?</h1>
        <div class="wrapper-grid">
            <h2>Consigli alimentari</h2>
            <p>Perdi grasso, aumenti forza ed energia.</p>

            <h2>Zero stress, zero noia</h2>
            <p>Addio stress di andare in palestra o alla noia degli allenamenti ripetitivi.</p>

            <h2>Risultati dalle prime settimane</h2>
            <p>Consumi calorie fino a 48 ore successive all'allenamento.</p>
        </div>
    </div>
    <img src="{{ asset('images/magi/pic3.webp') }}">
</div>

<div class="sheet">
    <div class="wrapper-copy">
        <h1>Contattami!</h1>
        <h2>Il futuro del tuo fisico dipende da te!</h2>
    </div>
    <form action="" method="post">
        <input type="text" placeholder="Nome">
        <input type="text" placeholder="Cognome">
        <input type="tel" placeholder="Cellulare">
        <textarea>Ciao Eleonora, voglio iniziare a seguire le tue lezioni!</textarea>
        <input type="submit" value="Invia">
    </form>
</div>

{% endblock %}