{% extends 'base.html.twig' %}

{% block body_id %}home{% endblock %}
{% block body %}


<div class="welcome">
    <div>
        <h1>What do women want?</h1>
        <p>
            Un allenamento <strong>rapido ed efficace</strong>!
            <br><br>
            <strong>Solo 20 minuti al giorno</strong> ed otterrai il corpo che hai sempre sognato.
            <br><br>
            Che cosa aspetti? <strong>Iscriviti ora!</strong>
        </p>
    </div>
    <img src="{{ asset('images/stretched_leg.webp') }}">
</div>

{% endblock %}