@use 'variables/colors'
@use 'variables/dimensions'

/* fonts */
@import 'https://fonts.googleapis.com/css2?family=Petrona:wght@300;500;700&display=swap'

/* tags */    
*
    padding: 0rem
    margin: 0rem
    font-size: calc(1vw + 1vh)
    font-family: 'Petrona', serif
    font-weight: 300
    color: colors.$white
    box-sizing: border-box
    max-width: 100%
    max-height: 100%

body
    background-color: colors.$black

h1, h1 span
    font-size: 1.25rem

a
    transition: color .5s
    text-decoration: none

    &:hover
        color: colors.$purple

strong
    font-weight: 700
    font-size: inherit

/* classes */
.welcome
    height: 100vh