@use 'variables/colors'
@use 'variables/breakpoints'
@use 'variables/dimensions'

/* fonts */
@import 'https://fonts.googleapis.com/css2?family=Petrona:wght@300;500;700&display=swap'

/* tags */    
*
    padding: 0rem
    margin: 0rem
    font-family: 'Petrona', serif
    font-weight: 300
    color: colors.$white
    box-sizing: border-box
    max-width: 100%
    max-height: 100%
    font-size: inherit

    &:focus
        outline: none

:root
    font-size: clamp(10px, 1.25vh + 1.25vw, 50px)

    @media (min-width: breakpoints.$tablet)
        font-size: clamp(10px, 1vh + 1vw, 50px)

body
    background-color: colors.$black

h1
    font-size: 2.25rem
    font-weight: 700
    color: colors.$purple
    margin-bottom: 1.5rem

h2
    font-size: 1.5rem
    font-weight: 500
    margin-bottom: 1.25rem

a
    transition: color .5s
    text-decoration: none

    &:hover
        color: colors.$purple

strong
    font-weight: 700

u
    font-weight: 500
    font-size: inherit
    position: relative
    white-space: nowrap
    text-decoration: none

    &::before
        background-color: rgba(colors.$purple, .75)

        content: ""
        position: absolute
        width: calc(100% + 4px)
        height: 60%
        left: -2px
        bottom: 0
        z-index: -1
        transform: rotate(-1deg)

/* classes */
.sheet
    $height-mobile: 87vh

    height: 100vh
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    padding: 2rem
    gap: 2rem

    @media (max-width: breakpoints.$tablet)
        flex-direction: column
        height: $height-mobile

    @media (min-width: breakpoints.$tablet)
        &:nth-of-type(odd):not(:last-of-type)
            flex-direction: row-reverse

    & > .wrapper-copy
        width: 50%

        @media (max-width: breakpoints.$tablet)
            width: 100%

    & > img
        width: 50%
        border-radius: 1rem

        @media (max-width: breakpoints.$tablet)
            width: 100%

    &.welcome
        height: calc(100vh - dimensions.$header_height)

        @media (max-width: breakpoints.$tablet)
            height: calc($height-mobile - dimensions.$header_height)
            margin-top: dimensions.$header_height

        & h1
            font-size: 3rem
