<section id="footer">
    <div id="wrapper-socials">
        Seguimi sui socials!
        <a href="">
            <img src="{{ asset('images/socials/facebook.ico') }}">
        </a>
        <a href="">
            <img src="{{ asset('images/socials/instagram.ico') }}">
        </a>
        <a href="">
            <img src="{{ asset('images/socials/youtube.ico') }}">
        </a>
    </div>
    <div id="wrapper-developer">
        Developed by <a href="https://www.ziugiorgio.it" target="_blank">Giorgio Ziu</a>
    </div>
</section>