<div id="header">
    <img src="{{ asset('images/logo_bianco.webp') }}">
    <ul>
        <li>
            <a href="">Ricette fit</a>
        </li>
        <li>
            <a href="">Domande frequenti</a>
        </li>
        <li>
            <a href="">Norme sulla privacy</a>
        </li>
    </ul>
</div>