<div id="header">
    <div>
        <a href="">
            <img id="logo" src="{{ asset('images/logo_bianco.webp') }}">
        </a>
        <button {{ stimulus_controller('header') }} {{ stimulus_action('header', 'toggle_menu') }}>
            <img id="menu-icon" src="{{ asset('images/menu-icon-closed.webp') }}">
        </button>
    </div>
    <ul id="menu">
        <li>
            <a href="">Ricette fit</a>
        </li>
        <li>
            <a href="">Domande frequenti</a>
        </li>
        <li>
            <a href="">Norme sulla privacy</a>
        </li>
    </ul>
</div>  